* {
    margin: 0;
    padding: 0;
}

body {
   background-color:antiquewhite;
   height: 300px;
   width: 300px;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    padding: 10px;
}

